.add-comment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: none;
  margin-bottom: 15px;
  background: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.add-comment-btn:hover {
  transform: scale(1.1);
}

.add-comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  width: 90%;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #393f3d;
  border-radius: 4px;
}

.comment-textarea {
  width: 90%;
  resize: none;
  background: none;
  border: none;
  padding: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #f7fffc;
}

.comment-textarea::placeholder {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #f7fffc;
}

.add-comment-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 7px 7px 7px;
}

.close-btn {
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.close-btn:hover {
  transform: scale(1.1);
}

.post-comment-btn {
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.post-comment-btn:hover {
  transform: scale(1.1);
}
