:focus {
  outline: none;
}

.login-container {
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #000c08;
}

.username-input {
  width: 250px;
  text-align: center;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #00ffb2;
  background: none;
  color: #f7fffc;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.username-input::placeholder {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-size: 20px;
  color: #393f3d;
}

.password-input {
  width: 250px;
  text-align: center;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #00ffb2;
  background: none;
  color: #f7fffc;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.password-input::placeholder {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-size: 20px;
  color: #393f3d;
}

.login-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background: rgba(57, 63, 61, 0.5);
  border: 3px solid #00ffb2;
  color: #00ffb2;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.login-btn:hover {
  transition: all 0.2s ease-in-out;
  background: #00ffb2;
  color: #000c08;
}

.needs-account {
  margin-top: 15px;
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-weight: 200;
  font-size: 16px;
  color: #00ffb2;
}

.sign-up-link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #00ffb2;
}
