:focus {
  outline: none;
}

.signup-container {
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #000c08;
}

.username-signup-input {
  width: 250px;
  text-align: center;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #00ffb2;
  background: none;
  color: #f7fffc;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.username-signup-input::placeholder {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-size: 20px;
  color: #393f3d;
}

.signup-email-input {
  width: 250px;
  text-align: center;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #00ffb2;
  background: none;
  color: #f7fffc;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.signup-email-input::placeholder {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-size: 20px;
  color: #393f3d;
}

.password-signup-input {
  width: 250px;
  text-align: center;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #00ffb2;
  background: none;
  color: #f7fffc;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.password-signup-input::placeholder {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-size: 20px;
  color: #393f3d;
}

.confirm-password-input {
  width: 250px;
  text-align: center;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #00ffb2;
  background: none;
  color: #f7fffc;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.confirm-password-input::placeholder {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-size: 20px;
  color: #393f3d;
}

.signup-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-btn {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background: rgba(57, 63, 61, 0.5);
  border: 3px solid #00ffb2;
  color: #00ffb2;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.signup-btn:hover {
  transition: all 0.2s ease-in-out;
  background: #00ffb2;
  color: #000c08;
}
